<h1 class="display-4 dashboard-title"><%= @note.title %></h1>
<h5>Created at: <%= @note.created_at.to_formatted_s(:long_ordinal) %></h5>
<p class="m-1"><%= @note.content.html_safe %></p>
<h5><%= link_to 'Download', @note.document.url(:original, false) if @note.document %></h5>
