<div class="container">
  <div class="card" style="width: 40rem; max-width:100%; margin:30px auto;">
    <div class="card-header">
      Change Your Password
    </div>
    <div class="card-block">
      <%= form_for(@user, url: {action: "update_password"}) do |f| %>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-4 col-form-label col-form-label-sm">New Password</label>
          <div class="col-sm-8">
            <%= f.password_field :password, autocomplete: "off", class: "form-control form-control-sm" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="smFormGroupInput" class="col-sm-4 col-form-label col-form-label-sm">Re-enter New Password</label>
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-sm" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Update Password", class: "btn btn-primary my-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>