<h1 class="display-4 dashboard-title">Your Dashboard</h1>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card card-block text-xs-center">
      <h4 class="card-title">Number of Investments</h4>
      <h2 class="card-text"><%= @user.investments.count %></h2>
    </div>
    <div class="card card-block text-xs-center">
      <h4 class="card-title">Total Amount Invested</h4>
      <h2 class="card-text"><%= number_to_currency(@user.total_invested, precision: 0) %></h2>
    </div>
  </div>
</div>

<h4>Investments</h4>
<% if @user.investments.empty? == false %>
  <% @user.investments.each do |investment| %>
    <%= link_to investment.deal.title, investment_path(investment) %>
  <% end %>
<% else %>
  No investments available for viewing.
<% end %>
