<%# Open Property Contact Modal %>
<div class="modal fade" id="open-property-form-modal" tabindex="-1" role="dialog" aria-labelledby="importForm" aria-hidden="true">
  <div class="modal-dialog" style="top: 100px" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="importForm">Invest in this property</h5>
      </div>
      <div class="modal-body">
          <%= form_tag open_property_request_path(@open_property.id) do %>
            <fieldset class="form-group">
              <label style="width:100%">Please enter your requested investment details:</label>
              <br>
              <label style="width:100%; font-weight:bold">Amount</label>
              <%= text_field :potential_investment_amount, params[:potential_investment_amount] %>
              <br>
              <br>
              <label style="width:100%;  font-weight:bold">Entity (Select or Enter New)</label>
              <br>
              <input type="text" list="investment_entity" name="investment_entity[investment_entity]"/>
              <datalist id="investment_entity">
                <%= options_for_select(@user_entities) %>
              </datalist>
            </fieldset>
            <div class="spacer -space-16"></div>
            <%= submit_tag "Submit", class: 'button -right' %>
            <br>
          <% end %>
      </div>
    </div>
  </div>
</div>

