<div class="container">
  <div class="card" style="width: 40rem; max-width:100%; margin:30px auto;">
    <div class="card-header">
      Terms of Use
    </div>
    <div class="card-block">
      <iframe width="500" height="500" src="https://drive.google.com/file/d/1gIPHIu0Wck_gAgFmIuxqxCGzTHYvItVl/view"/>
    </div>
  </div>
</div>