<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new user has signed up for the portal</h1>
    <p>
      Name: <%= @user.name %>
      <br>
      Email: <%= @user.email %>
    </p>
  </body>
</html>