// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-container {
  display: inline-block;

  #search-form {
    margin-bottom: 10px;
    display: inline-block;
    
    input {
      margin-right: 1em;
    }
 
    #filter-form{
      display: inline-block;
      border: 1px lightgrey solid;
      padding: 2px;
      
      select {
        background: white;
        border: 0px solid black;
      }
    }
  }

}

input[type='date'] {
  border: 1px solid lightgrey;
}



.modal-body label {
  width: 25%;
}


table.dataTable{
  border-collapse: collapse !important;
}

.table-button{
  float: right; height: 40px;	width: 110px;	border-radius: 4px;	background-color: #0E77D9;	box-shadow: 0 2px 4px 0 #DBDDDE;color: #FFFFFF;	font-size: 14px;	font-weight: 600;	line-height: 14px;	text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5); margin-bottom: 8px;
}

input[type='search']{
  box-sizing: border-box;	height: 40px;	width: 300px;	border: 1px solid #CFD0D1;	border-radius: 4px;	background-color: #FFFFFF;	box-shadow: 0 2px 4px 0 #DBDDDE;
}

.investor-table td {
  font-size: 12px;
}

// div.dataTables_filter label{
//   width: 70%;
// }

// div.dataTables_filter input{
//   margin-left: 0 !important;
//   width: 100% !important;
// }

.status-dropdown {
  width: 100%;

  #search-form { 
    float: right;
    margin-right: 1em;

    select {
      margin: 0;
    }
  }
}

.show-property {
  div.dataTables_filter label {
    display: none;
  }
}