// Place all the styles related to the forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-container {
  display: inline-block;

  #search-form {
    margin-bottom: 10px;
    display: inline-block;
    
    input {
      margin-right: 1em;
    }
 
    #filter-form{
      display: inline-block;
      border: 1px lightgrey solid;
      padding: 2px;
      
      select {
        background: white;
        border: 0px solid black;
      }
    }
  }

}

input[type='date'] {
  border: 1px solid lightgrey;
}



.modal-body label {
  width: 25%;
}

.investor-table-container {
  background: #FFF;
}
table.dataTable{
  border-collapse: collapse !important;
}

.investor-table td {
  font-size: 12px;
}

div.dataTables_filter label{
  width: 70%;
}

div.dataTables_filter input{
  margin-left: 0 !important;
  width: 100% !important;
}

.status-dropdown {
  width: 100%;

  #search-form { 
    float: right;
    margin-right: 1em;

    select {
      margin: 0;
    }
  }
}

.show-property {
  div.dataTables_filter label {
    display: none;
  }
}