.dataTables_wrapper .dataTables_paginate {
  text-align: center !important;
  float: none !important;
  padding-top: 1.25em !important;
  padding-bottom: 1.25em !important;

  .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #0E77D9 !important;
  }
}

.edit-button{
  width: 100px; float:right; color: #0E77D9;background: transparent;border: none;
}
.back-button {
  float: left; width: 200px;text-align: left; color: #0E77D9;;
}

.investor-table-container{
  overflow-x: visible;
  thead, th{
    background-color: white !important;
  }
  
}
.investor-table {
  border-bottom: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 #DBDDDE;
}
table.dataTable.no-footer{
  border-bottom: none !important;
}