// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.thead-inverse th {
  background: #002849;
}

.table-hover tbody tr:hover {
	background-color: transparent;
}

.investor-card-image {
  border-radius: 0.25rem 0.25rem 0 0;
  width: 100%;
  margin-bottom: 12px;
}

.investor-card-name {
  font-weight: bolder;
  margin-bottom: 5px;
  font-size: 1.1em;
  padding-top: 12px;
  // min-height: 75px;
}

.investment-property-address {
  font-size: 0.8em;
}

.investor-card-container {
  padding-left: 0px; 
  padding-right: 0px; 
  margin-right: 0px;
  margin-bottom: 2em;
  padding-bottom: 5px;
}

.investment-section-title {
  text-transform: capitalize;
  font-weight: bold;
}

.no-padding {
  padding: 0;
}

.info-cards {
  margin-bottom: 15px;
}

.tom {
  border: 1px solid red;
}

.note-container {
  padding: 5px 15px 10px 15px;
  margin-bottom: 10px
}

.card.investor-card-container {
  border: 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(194,194,194,1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(194,194,194,1);
  box-shadow: 0px 2px 4px 0px rgba(194,194,194,1);
  padding-bottom: 5px;
}

.card .investor-card-container:nth-child(3n+3) { margin-right: 0; }

.investor-card-address{
  min-height: 135px;
}

.investment-button{
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status-tag {
  background-color: white;
  color: black; 
  position: absolute;
  padding: 2px;
  border-radius: 0.25em;
  font-size: 0.7em;
  font-weight: bolder;
  text-transform: capitalize;
  letter-spacing: 0px;
  right: 10px;
  top: 10px;
}

.grey-divider{
  border-top: 1px solid lightgrey;
  margin: 5px 15px;
}
.card-padding{
  padding-left: 15px; 
  padding-right:15px
}
// .dashboard{
//   width: 1050px;
// }

@media (max-width: 767px) { 
  .investor-card-container{
    margin-right: 1em;
  }
  
  .col-md-4 {
    padding: 0;
  }
  .xs-row {
    margin: 15px;
  }
}

.closing-date-dropdown{
  font-size: 20px;
  height: 0;
  form {
    display: inline;
  }
}
