// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.thead-inverse th {
  background: #002849;
}

.table-hover tbody tr:hover {
	background-color: transparent;
}

.investor-card-image {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 8px;
  height: 11em
}

.investor-card-container {
  border: 1px solid lightgrey;
  padding-left: 0px; 
  padding-right: 0px; 
  margin-right: 1.5em;
  margin-bottom: 2em;
}

.card .investor-card-container:nth-child(3n+3) { margin-right: 0; }

.investor-card-address{
  height: 6em;
}

.grey-divider{
  border: 1px solid lightgrey;
  margin: 8px 0px;
}
.card-padding{
  padding-left: 15px; 
  padding-right:15px
}
// .dashboard{
//   width: 1050px;
// }

  @media (max-width: 767px) { 
    .investor-card-container{
      margin-right: 1em;
    }
   
    .col-md-4 {
      padding: 0;
    }
    .xs-row {
      margin: 15px;
    }
  }

